h1 { color:rgb(2, 132, 130) }

h2 {color:#ffd700;}

.board {
	height:50%; 
	width:50%; 
	display:inline-block; 
	float:left;
	margin:6%;
}

.card { 
	border: 1px solid black; 
	border-radius:10px; 
	height:200px; 
	width:150px; 
	float:left;
	margin:8%;
	background-color:yellow;
}

.name {
	color:#ff0000;
}

footer {
	background-color:#808080;
	text-align:center;
	clear:both;
}

p {
	text-align:center;
}

hr {
	clear:both;
}



header {
	display:inline-block;
	float:left;
	text-align:center;
}


nav {
	display:inline-block;
	float:left;
	background-color:#808080;
	width:100%;
}

nav a {
	text-decoration:none;
	color:white;
	font-weight:bold;
	display:block;
	float:left;
    padding:35px;
    background-color:#ffbf00;
}

nav a:hover {
	background-color:#ee5f3c;
}


 .clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
}


